.background {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(
		-45deg,
		#3f51b1 0%,
		#000000 13%,
		#1b0a07 25%,
		#310830 38%,
		#46075a 50%,
		#5c0583 62%,
		#7203ac 75%,
		#8702d6 87%,
		#9d00ff 100%
	);
	background-size: 400% 400%;
	position: relative;
	animation: animate 10s ease-in-out infinite;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fractionalbackground {
	width: 100vw;
	min-height: 100vh;

	height: 100%;
	background: linear-gradient(
		-45deg,
		#3f51b1 0%,
		#000000 13%,
		#1b0a07 25%,
		#310830 38%,
		#46075a 50%,
		#5c0583 62%,
		#7203ac 75%,
		#8702d6 87%,
		#9d00ff 100%
	);
	background-size: 400% 400%;
	animation: animate 10s ease-in-out infinite;
	z-index: 1000;
}

@keyframes animate {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.prompt {
	position: relative;
	padding: 1.5rem;
	background: hsla(0, 100%, 100%, 0.75);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	backdrop-filter: blur(10px) saturate(180%);
	border-radius: 5% 0%;
	z-index: 1;
	font-weight: 700;
	max-width: 22rem;
	text-align: center;
}
