.gradient-animation( @start, @end, @transTime ) {
	background-size: 100%;
	background-image: -webkit-linear-gradient(@start, @end);
	background-image: linear-gradient(@start, @end);
	position: relative;
	z-index: 100;
	&:before {
		border-radius: inherit;
		background-image: -webkit-linear-gradient(@end, @start);
		background-image: linear-gradient(@end, @start);
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: -100;
		-moz-transition: opacity @transTime ease-in-out;
		-webkit-transition: opacity @transTime ease-in-out;
		transition: opacity @transTime ease-in-out;
	}
	&:hover {
		&:before {
			opacity: 1;
		}
	}
}

.background {
	.gradient-animation( #F9D423, #FF4E50, 2.75s );
	// Thanks to this service for the gradient color choice:
	// http://uigradients.com/#DanceToForget
}
